@import "nib"

$defaultWidth = 100px
$defaultHeight = 100px
$defaultMargin = 0px

$spacingColor = black
$spacingWidth = 2px

:host
    box-sizing border-box
    display inline-block
    position relative
    user-select none
    width $defaultWidth
    height $defaultHeight
    margin $defaultMargin

    // display inline-flex

#frame
    box-sizing border-box
    display block
    position relative
    user-select none
    width inherit
    height inherit

    // flex 1
    // display flex

#canvas
    box-sizing border-box
    position relative
    user-select none
    width inherit
    height inherit

    cursor move

    &:hover
        // opacity 0.7
        border 2px solid black

    // flex 1
