link(rel='import' href='/bower/polymer/polymer.html')

polymer-element(name='x-colorpicker-color' attributes="color" on-drag="{{ dragColor }}" on-dragend="{{ dropColor }}" on-drop="{{ dropColor }}")
    template
        link(rel="stylesheet" href="./index.css")
        div#frame
            canvas#canvas(draggable="true")
    script(src="./index.js")