link(rel='import' href='/bower/polymer/polymer.html')

polymer-element(name='x-belt' attributes="pattern thickness threads colors")
    template
        link(href="./index.css" rel="stylesheet")

        style.
            .thread {
                height: {{_pattern.threadThickness}}px;
            }

            .thread.color-a,
            .thread[color-code="a"] {
                background-color: {{ _colors[0] }};
            }

            .thread.color-b,
            .thread[color-code="b"] {
                background-color: {{ _colors[1] }};
            }

            .thread.color-c,
            .thread[color-code="c"] {
                background-color: {{ _colors[2] }};
            }

            .thread-v.color-c,
            .thread-v[color-code="c"] {
                background-color: {{ _colors[2] }};
            }

            .thread-v.color-thread-a {
                border-color: {{ _colors[3] || '#000' }};
            }

            .thread-v.color-thread-b {
                border-color: {{ _colors[4] || '#000' }};
            }

        .design(id="{{ pattern }}")
            .head
                .code {{ pattern }}
            .body
                .belt(thread-count="{{ _pattern.threadCount }}" thread-thichness="{{ _pattern.threadThickness }}" color-count="{{ _pattern.colorCount }}")
                    .threads
                        template(repeat="{{ thread in _pattern.threads }}")
                            .thread(color="{{ thread.color }}" color-code="{{ thread.colorCode }}" thickness="{{ thread.thickness }}")

                    .thread-v.color-thread-a
                    .thread-v.color-thread-b

                    .leather
                        .nail.metal.radial
                        .nail.metal.radial

                    //- .buckle.color-buckle-a
                    //-     .ring
                    //-     .ring2

    script(src="./index.js")
