doctype html5
html(ng-app='app')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
        title Bälte Studio

        script(src='/bower/platform/platform.js')
        link(rel='import' href='/bower/polymer/polymer.html')
        //- link(rel='import' href='/bower/core-scaffold/core-scaffold.html')

        link(rel='import' href='/components/x-belt/index.html')

        link(rel='import' href='/components/x-colorpicker/index.html')
        link(rel='import' href='/components/x-colorpicker/x-colorpicker-color/index.html')
        link(rel='import' href='/components/x-colorpicker/x-colorpicker-palette-hsl-h/index.html')
        link(rel='import' href='/components/x-colorpicker/x-colorpicker-palette-hsl-sl/index.html')

    body(unresolved)

        polymer-element(name="app-page")
            template
                //- h1
                //-     code H: {{ hueColor}}, Color: {{ color }}
                //- x-belt(pattern="1-1-1")
                x-colorpicker(color="rgb(255,0,0)" style="width: 40px; height: 40px; vertical-align: top;")
                x-colorpicker(color="rgb(0,255,0)" style="width: 80px; height: 80px; vertical-align: top;")
                x-colorpicker(color="rgb(0,0,255)" style="width: 160px; height: 160px; vertical-align: top;")
                x-colorpicker(color="rgb(255,255,255)" style="width: 320px; height: 320px; vertical-align: top;")
                x-colorpicker(color="{{ color }}" style="width: 320px; height: 320px; vertical-align: top;")

                //- FAIL
                //- x-colorpicker-palette-hsl-h(color="{{ hueColor }}")
                //- x-colorpicker-palette-hsl-sl(color="{{ color }}" hue="{{ hueColor }}")
                //- x-colorpicker-color(color="{{ color }}")

                //- x-colorpicker-palette(colorspace="LAB")
                //- window.XColorPalette.use("LAB", LAB)
                //- LAB.prototype.setup = (canvas, attrs, done) ->
                //- LAB.prototype.draw = (canvas, attrs, done) ->

                link(href='index.css' rel='stylesheet')
                style.
                    x-belt {
                        /*
                        width: {{ 300 * (scale || 1.0) }}px;
                        height: {{ (20 + 18 * 5) * (scale || 1.0) }}px;

                        transform: scale({{ scale || 1.0 }});
                        transform-origin: left top;

                        transition: 0.5s all;

                        */

                        zoom: {{ scale }};
                    }

                content
                    div#controls
                        //- TODO: figure out how to handle max height, min height, min thread thickness, max thread thickness
                        label(for="threadThickness") Thread thickness:
                        input#threadThickness(type="number" value="{{ threadThickness }}" min="5" max="8")

                        hr

                        label(for="colorA") Colors:
                        input#colorA(type="color" value="{{ colors['a'] }}")
                        input#colorB(type="color" value="{{ colors['b'] }}")
                        input#colorC(type="color" value="{{ colors['c'] }}")

                        hr

                        label(for="scale") Scale:
                        input#scale(type="range" value="{{ scale }}" min="0.5" max="1.2" step="0.1")

                    template(repeat="{{ pattern in patterns }}")
                        x-belt(pattern="{{ pattern }}" colors="{{ colors['a'] }}, {{ colors['b'] }}, {{ colors['c'] }}")

            script(src='index.js')
            script.
                Polymer({
                    hueColor: 'rgb(0,255,0)',
                    color: 'rgb(0,255,0)',
                    ready: function() {
                        console.log('app ok')

                        var self = this

                        setTimeout(function() {
                            self.onThreadThicknessChanged(null, self.threadThickness)
                        }, 0)
                    },
                    observe: {
                        'threadThickness': 'onThreadThicknessChanged'
                    },
                    onThreadThicknessChanged: function(_, value) {
                        console.log('onThreadThicknessChanged', value)

                        this.generatePatterns()
                    },
                    generatePatterns: function() {
                        var self = this;

                        self.patterns = [
                            ['stripes', 18, self.threadThickness, 1, '18a'],
                            ['stripes', 18, self.threadThickness, 2, '9a.9b'],
                            ['stripes', 17, self.threadThickness, 2, '4a.9b.4a'],
                            ['stripes', 17, self.threadThickness, 2, '4b.9a.4b'],
                            ['stripes', 17, self.threadThickness, 3, '4a.4b.1c.4b.4a'],
                            ['stripes', 17, self.threadThickness, 3, '4c.4b.1c.4b.4c'],
                            ['stripes', 17, self.threadThickness, 3, '4c.4b.1a.4b.4c'],
                            ['stripes', 17, self.threadThickness, 2, '7a.3b.7a'],
                            ['stripes', 17, self.threadThickness, 2, '7b.3a.7b'],
                            ['stripes', 17, self.threadThickness, 2, '10a.3b.4a'],
                            ['stripes', 17, self.threadThickness, 2, '7a.3c.7a'],
                        ].map(function(v) {
                            return v.join('-')
                        })
                    },
                    patterns: [
                        'stripes-18-1-1-18a',
                        'stripes-18-1-2-9a.9b',
                        'stripes-17-1-2-4a.9b.4a',
                        'stripes-17-1-2-4b.9a.4b',
                        'stripes-17-1-3-4a.4b.1c.4b.4a',
                        'stripes-17-1-3-4c.4b.1c.4b.4c',
                        'stripes-17-1-3-4c.4b.1a.4b.4c',
                        'stripes-17-1-2-7a.3b.7a',
                        'stripes-17-1-2-7b.3a.7b',
                        'stripes-17-1-2-10a.3b.4a',
                        'stripes-17-1-2-7a.3c.7a',
                    ],
                    threadThickness: 5,
                    colors: {
                        'a': '#000000',
                        'b': '#177822',
                        //- 'c': '#999999',
                        'c': '#589217',
                    }
                })

        app-page


