
#controls
  background-color #eee
  padding 10px

  font-family monospace
  border 1px solid #ddd

  box-shadow 1px 1px 1px #eee

  hr
    display inline-block
    width 5px
    border none
    background-color none

  label
    display inline-block
    color #ccc
    font-size 14px
    font-family helvetica neue
    text-transform uppercase

  input
    display inline-block
    border 0px solid black
    padding 3px 5px

    font-size 16px
    font-family monospace

  #scale
    height 10px