@import "nib"

$defaultWidth = 200px
$defaultHeight = 200px
$defaultMargin = 0px

$spacingColor = black
$spacingWidth = 2px

:host
    box-sizing border-box
    display inline-block
    position relative
    user-select none
    width $defaultWidth
    height $defaultHeight
    margin $defaultMargin

    // display inline-flex

#frame
    box-sizing border-box
    display block
    position relative
    user-select none
    width inherit
    height inherit

    // flex 1
    // display flex

#canvas
    box-sizing border-box
    position relative
    user-select none
    width inherit
    height inherit

    cursor crosshair

    // flex 1

#point
    box-sizing border-box
    position absolute
    top 50%
    left 50%
    width 8px
    height 8px
    border-radius 5px
    border 2px solid black
    margin-left -4px
    margin-top -4px
    pointer-events none