link(rel='import' href='/bower/polymer/polymer.html')
//- link(rel='import' href='/components/x-colorpicker/x-colorpicker-palette/index.html')

polymer-element(name='x-colorpicker-palette-hsl-sl')
    template
        link(rel="stylesheet" href="./index.css")
        div#frame
            canvas#canvas(on-mousemove="{{ onSelectColor }}" on-mousedown="{{ onSelectColor }}")
            span#point(class="{{ color && 'visible' || '' }}" style="left: {{ x / width * 100 }}%; top: {{ y / height * 100 }}%;")
    script(src="./index.js")
