doctype html5
html(ng-app='app')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

        title x-colorpicker-palette-hsl-sl

        style.
            body {
                padding: 10px;
                -webkit-user-select: none;
                user-select: none;
            }

        script(src='/bower/platform/platform.js')
        link(rel='import' href='/bower/polymer/polymer.html')

        link(rel='import' href='./index.html')

    body(unresolved)

        polymer-element(name="app-page")
            template
                p
                    input(type="color" value="{{ base }}")

                p
                    x-colorpicker-palette-hsl-sl(base="{{ base }}" color="{{ color1 }}")
                    x-colorpicker-palette-hsl-sl(base="{{ color1 }}" color="{{ color2 }}")
                    x-colorpicker-palette-hsl-sl(base="{{ color2 }}" color="{{ color3 }}")

                style.
                    dt {
                        font-weight: bold;
                        display: inline-block;
                    }
                    dd {
                        display: inline-block;
                        margin-left: 0;
                        margin-right: 50px;
                    }

                //- IDEAS:
                //- x-colorpicker-palette(colorspace="LAB")
                //- window.XColorPalette.use("LAB", LAB)
                //- LAB.prototype.setup = (canvas, attrs, done) ->
                //- LAB.prototype.draw = (canvas, attrs, done) ->

                code
                    dl
                        dt Hue:
                        dd {{ base || 'undefined' }}

                        dt Color:
                        dd {{ color1 || 'undefined' }}
                        dd {{ color2 || 'undefined' }}
                        dd {{ color3 || 'undefined' }}

                        //- dt HSL:
                        //- dd {{ hsl || '(undefined)' }}

                        //- dt RGB:
                        //- dd {{ rgb || '(undefined)' }}


            script.
                //- TODO: Send in color, and parse out Hue from that.
                Polymer({
                    base: 'rgb(0,255,0)',
                    color1: undefined,
                    color2: undefined,
                    color3: undefined,
                })

        app-page
