link(rel='import' href='/bower/polymer/polymer.html')

polymer-element(name="x-colorpicker-palette")
    template
        script(src="./index.css")
        div#frame
            canvas#canvas(on-mousemove="{{ selectColor }}" on-mousedown="{{ selectColor }}")
    script(src="./index.js")