@import "nib"

$defaultWidth = 30px
$defaultHeight = 200px
$defaultMargin = 0px

$spacingColor = black
$spacingWidth = 2px

:host
    box-sizing border-box
    display inline-block
    position relative
    user-select none
    width $defaultWidth
    height $defaultHeight
    margin $defaultMargin

    // display inline-flex

#frame
    box-sizing border-box
    display block
    position relative
    user-select none
    width inherit
    height inherit

    // flex 1
    // display flex

#canvas
    box-sizing border-box
    position relative
    user-select none
    width inherit
    height inherit

    cursor crosshair

    // flex 1

#point
    box-sizing border-box
    position absolute
    top 40%
    left 0
    width 100%
    height 1px
    border 2px solid black
    pointer-events none