doctype html5
html(ng-app='app')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

        title x-colorpicker-palette-hsl-h

        style.
            body {
                padding: 10px;
                -webkit-user-select: none;
                user-select: none;
            }

        script(src='/bower/platform/platform.js')
        link(rel='import' href='/bower/polymer/polymer.html')

        link(rel='import' href='./index.html')

    body(unresolved)

        polymer-element(name="app-page")
            template
                x-colorpicker-palette-hsl-h(color="{{ color1 }}")
                x-colorpicker-palette-hsl-h(color="{{ color2 }}")
                x-colorpicker-palette-hsl-h(color="{{ color3 }}" style="transform:rotate(90deg); transform-origin:left bottom;")

                style.
                    dt {
                        font-weight: bold;
                        display: inline-block;
                    }
                    dd {
                        display: inline-block;
                        margin-left: 0;
                        margin-right: 50px;
                    }

                code
                    dl
                        dt Color:
                        dd {{ color1 || 'undefined' }}
                        dd {{ color2 || 'undefined' }}
                        dd {{ color3 || 'undefined' }}

                        //- dt HSL:
                        //- dd {{ hsl || '(undefined)' }}

                        //- dt RGB:
                        //- dd {{ rgb || '(undefined)' }}


            script.
                Polymer({
                    hueColor: 'rgb(255,255,0)',
                    color1: undefined,
                    color2: undefined,
                    color3: undefined,
                })

        app-page
