link(rel='import' href='/bower/polymer/polymer.html')
link(rel='import' href='/bower/core-drag-drop/core-drag-drop.html')

polymer-element(name='x-colorpicker' attributes="color" on-drag="{{ dragColor }}" on-dragend="{{ dropColor }}" on-drop="{{ dropColor }}")
    template
        link(rel="stylesheet" href="./index.css")
        div#colorPicker
            div.canvasFrame#colorsSpectrumFrame
                canvas#colorsSpectrum(on-mousemove="{{ selectHueColor }}" on-mousedown="{{ selectHueColor }}")
            div.canvasFrame#colorSpectrumFrame
                canvas#colorSpectrum(on-mousemove="{{ selectColor }}" on-mousedown="{{ selectColor }}")
            div.canvasFrame#colorFrame
                canvas#color(draggable="true")
    script(src="./index.js")
