@import "nib"

$defaultWidth = 200px
$defaultHeight = 200px

$spacingColor = black
$spacingWidth = 2px

:host
    position relative
    display inline-block
    box-sizing border-box
    user-select none
    width $defaultWidth
    height $defaultHeight
    margin 2px
    display inline-flex

    outline 2px solid blue

// BUG: In Safari these rules gets ignored, only `:host` rules work

#colorPicker
    box-sizing border-box
    display block
    line-height 0
    background-color $spacingColor
    border $spacingWidth solid $spacingColor
    width inherit
    height inherit
    display flex

    outline 2px solid green

.canvasFrame
    position relative
    box-sizing border-box
    display block

    margin-right 0
    border-right $spacingWidth solid $spacingColor

    &:last-child
        margin-right 0
        border-right none

canvas
    position relative
    box-sizing border-box
    user-select none
    min-width 10px
    min-height 10px
    width 100%
    height 100%

#colorsSpectrumFrame
    width 10%
    height 100%
    flex 1

#colorSpectrumFrame
    width 50%
    height 100%
    flex 5

#colorFrame
    width 40%
    height 100%
    flex 4

canvas#colorsSpectrum
    cursor crosshair

canvas#colorSpectrum
    cursor crosshair

canvas#color
    cursor move